<%= render partial: "shared/adminheader" %>
<%= stylesheet_link_tag 'adminswelcome' %>
<div class="box">
<h6>PUTTING YOU BACK ON THE ROAD, SAFE AND SOUND</h6>
<br>
<h1>FINE TUNING YOUR AUTO</h1>

<h6>To premium levels.</h6>
</div>

