<%= stylesheet_link_tag 'adminheader' %>
<%= stylesheet_link_tag 'button' %>
<%# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> %>
<%# <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> %>
<nav class="navbar navbar-expand-custom navbar-mainbg">
       <a class="navbar-brand navbar-logo" href="#">Car Repair</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/view/reviews"> Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/add/employee">Add Employee</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/add/admin">Add Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/assignservice">Assign Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/viewservices">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/serviceassigned/show">Handler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/add/payment"></i>Payments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view/employees"></i>Employee</a>
                </li>
                <li class="nav-item">
                    <%= button_to 'Sign Out', destroy_user_login_session_path, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "nav-link", style: "background: none!important; border: none; padding: 0!important; font-family: arial, sans-serif; color: #069; text-decoration: none; cursor: pointer; color: white;" %>
                    <i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ffffff;"></i>
                </li>
                
            </ul>
        </div>
    </nav>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<%= javascript_include_tag 'header' %>