 <%= stylesheet_link_tag 'alert' %>
<div class="popup-wrap">
    <div class="popup-box">
      <h2>Invalid action</h2>
      <h3>Vehicle service under process</h3>
      <a class="close-btn popup-close" href="/bike/show">x</a>
    </div>
  </div>

<script src="<%= asset_path 'alert1.js' %>"></script>
<script>
document.querySelector('.popup-close').addEventListener('click', function() {
    window.location.href = '/service/booked';
  });

</script>