<%= render partial: "shared/employeeheader" %>
<div class="container" width="100%">
  <ul class="responsive-table">
    <li class="table-header">
        <div class="col col-1">User Id</div>
        <div class="col col-2">Review</div>
    </li>
    <% @reviews.each do |review| %>
        <li class="table-row">  
            <div class="col col-1" data-label="User Id"><%= review.user_login.user_name %></div>          
            <div class="col col-2" data-label="Service Id"><%= review.comment %></div>
        </li>
     <% end %>
  </ul>
</div>