<% flash.each do |flash_type, message| %>
  <div class="flash__message">
  <div class="flash__icon">
 <i class="fa-solid fa-circle-check fa-xl" style = "color: #5161ce"></i> &nbsp;
    <%= message %>
  </i>
  </div>
  </div>
<% end %>